.section4 {
    padding: 50px 20px 90px;
    
    // @media screen and (max-width: 680px) {
    //     display: none;
    // }

    .events-container {
        max-width: 1000px;
        margin: 0 auto;
        
        h2 {
            font-size: 2.5rem;
            color: $orange1;
            font-family: $font3;
            font-weight: 100;
        }
        h4 {
            letter-spacing: 2px;
            font-size: 2rem;
            font-weight: 900;
            color: $white1;
            margin-top: -12px;
            font-family: $font1;
        }
        img {
            margin: 30px auto;
        }
        .event-grid {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "a b"
            "c b";
            gap: 20px;



            .date-content {
                background: $black;
                height: 86px;
                width: 86px;
                margin: 0 auto;
                color: $white1;
                @include childCenter;
                flex-direction: column;
                line-height: 22px;

                h6 {
                    font-size: 1.7rem;
                }
            }

            .address {
                background: $white1;

                h3 {
                    letter-spacing: 1px;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding-left: 8px;
                }
                p {
                    font-size: 0.9rem;
                    color: $grey1;
                    margin-top: 20px;
                    letter-spacing: 1px;
                    
                    i {
                        margin-right: 3px;
                        font-size: 0.7em;
                        transform: translateY(-2px);

                        &:nth-child(2) {
                            margin-left: 10px;
                        }
                    }
                }
                h5 {
                    letter-spacing: 2px;
                    margin-top: 25px;
                }
            }

            .event-left {
                display: grid;
                grid-template-columns: 39% 61%;
                text-align-last: left;

                .date {
                    @include childCenter;
                }
                .address {
                    color: $black;
                    padding: 30px 20px;
                }
            }
            .event-1 {
                grid-area: a;

                .date {
                    background: url(/assets/img/event-01.jpg) center/cover;
                }
            }
            .event-2 {
                grid-area: c;

                .date {
                    background: url(/assets/img/event-02.jpg) center/cover;
                }
            }
            .event-3 {
                grid-area: b;
                background: url(/assets/img/event-03.jpg) center/cover;
                padding: 25px;
                margin-right: 18px;

                .address {
                    height: 100%;
                    padding: 0 12px;

                    h3 {
                        margin: 40px 0 15px;
                    }
                    h5 {
                        padding: 45px 0;
                    }
                }
            }
        }
    }
}